.hop0 {
  stroke: #9999CC;
}
.hop1 {
  stroke : #339933;
}
.hop2 {
  stroke: #99CC99;
}
.hop3 {
  stroke: #990000;
}
.hop4 {
  stroke: #00CC99;
}
.hop5 {
  stroke: #666666;
}
.hop6 {
  stroke: #FF9933;
}
.hop7 {
  stroke: #99FF00;
}
.hop8 {
  stroke: #99CC00;
}
.hop9 {
  stroke: #999933;
}
.hop10 {
  stroke: #3300FF;
}
.hop11 {
  stroke: #66FFCC;
}
.hop12 {
  stroke: #999966;
}
.hop13 {
  stroke: #FF3300;
}
.hop14 {
  stroke: #660066;
}
.hop15 {
  stroke: #3399FF;
}
.hop16 {
  stroke: #336633;
}
.hop17 {
  stroke: #99FF66;
}
.hop18 {
  stroke: #CC6600;
}
.hop19 {
  stroke: #FF3399;
}
.hop20 {
  stroke: #0000FF;
}
.hop21 {
  stroke: #FFFF00;
}
.hop22 {
  stroke: #FF00FF;
}
.hop23 {
  stroke: #009999;
}
.hop24 {
  stroke: #333300;
}
.hop25 {
  stroke: #993399;
}
.hop26 {
  stroke: #3333FF;
}
.hop27 {
  stroke: #66FF00;
}
.hop28 {
  stroke: #9966FF;
}
.hop29 {
  stroke: #66CC66;
}
